## 01 Cleaning procedures
#### This script contains the following points:
1. Import Data
2. Fixing Data Type
3. Merging Data
4. Duplicates
5. Export data

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### 1. Import data

In [3]:
# Import data set
path=r'/Users/dariaperestiuk/Desktop/HW Data Analyst/Oil Price Project'
df=pd.read_excel(os.path.join(path, '01 Data', '3.5 oil production.xlsx'))

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

### 2. Fixing Data type

In [80]:
# Fixing Data type
df_new['Crude oil exports'] = pd.to_numeric(df_new['Crude oil exports'],errors = 'coerce')

In [77]:
df_new['Oil demand'] = pd.to_numeric(df_new['Oil demand'],errors = 'coerce')

In [81]:
df_new['Imports of crude oil'] = pd.to_numeric(df_new['Imports of crude oil'],errors = 'coerce')

In [90]:
# Check for mixed-type data in df_new dataframe
for col in df_new.columns.tolist():
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_new[weird]) > 0:
    print (col)

Country Group

In [85]:
# Check for missing values
df_new.isnull().sum()

Country                      0
Country Group            10307
OPEC Member                  0
Year                         0
 Crude oil production    10307
Oil demand                9641
Crude oil exports        11677
Imports of crude oil     11101
Country Code              1698
GDP                       1698
dtype: int64

In [82]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13205 entries, 0 to 13204
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                13205 non-null  object
 1   Country Group          2898 non-null   object
 2   OPEC Member            13205 non-null  object
 3   Year                   13205 non-null  int64
 4    Crude oil production  2898 non-null   float64
 5   Oil demand             3564 non-null   float64
 6   Crude oil exports      1528 non-null   float64
 7   Imports of crude oil   2104 non-null   float64
 8   Country Code           11507 non-null  object
 9   GDP                    11507 non-null  float64
dtypes: float64(5), int64(1), object(4)
memory usage: 1.6+ MB

In [66]:
df_new.shape

(13205, 10)

In [83]:
df_new.describe()

,Year,Crude oil production,Oil demand,Crude oil exports,Imports of crude oil,GDP
count,13205.000000,2898.00000,3564.000000,1528.000000,2104.000000,1.150700e+04
mean,1991.454373,1221.70216,1070.860001,963.336066,663.693325,1.005972e+12
std,16.691477,2047.97691,2563.069821,1334.792479,1390.124417,4.533056e+12
min,1960.000000,0.00000,0.140000,0.000000,0.000000,8.824448e+06
25%,1978.000000,100.00000,113.000000,153.245000,0.000000,2.056874e+09
50%,1993.000000,427.05200,315.046168,401.219775,188.655000,1.436880e+10
75%,2006.000000,1402.11575,987.537671,1346.672500,672.189022,1.796394e+11
max,2022.000000,12315.05500,21167.649315,9223.200000,10852.615195,7.904923e+13

In [6]:
df.head()

,Country,Country Group,OPEC Member,OECD member,Year,Crude oil production
0,Algeria,Africa,NaN,NaN,1960,181.1
1,Algeria,Africa,NaN,NaN,1961,330.9
2,Algeria,Africa,NaN,NaN,1962,436.9
3,Algeria,Africa,NaN,NaN,1963,504.3
4,Algeria,Africa,NaN,NaN,1964,557.8

### 3. Merging data

In [7]:
df_2=pd.read_excel(os.path.join(path, '01 Data', '4.7 oil demand.xlsx'))

In [31]:
df_3=pd.read_excel(os.path.join(path, '01 Data', '5.2 oil exports.xlsx'))

In [9]:
df_4=pd.read_excel(os.path.join(path, '01 Data', '5.6 imports of oil.xlsx'))

In [11]:
df_5=pd.read_csv(os.path.join(path, '01 Data', 'gdp.csv'))

NameError: name 'pd' is not defined

In [40]:
#rename columns
df_5_1 = df_5.rename(columns={'Country Name': 'Country', 'Value': 'GDP'})

In [51]:
#merging data sets
df_merged_1 = pd.merge(df, df_2,  how='outer', left_on=['Country','Year'], right_on = ['Country','Year'])

In [52]:
df_merged_2 = pd.merge(df_merged_1, df_3,  how='outer', left_on=['Country','Year'], right_on = ['Country','Year'])

In [54]:
df_merged_3 = pd.merge(df_merged_2, df_4,  how='outer', left_on=['Country','Year'], right_on = ['Country','Year'])

In [55]:
df_merged_final = pd.merge(df_merged_3, df_5_1,  how='outer', left_on=['Country','Year'], right_on = ['Country','Year'])

In [64]:
df_new.head()

,Country,Country Group,OPEC Member,Year,Crude oil production,Oil demand,Crude oil exports,Imports of crude oil,Country Code,GDP
0,Algeria,Africa,Yes,1960,181.1,23.496816,NaN,NaN,DZA,2.723649e+09
1,Algeria,Africa,Yes,1961,330.9,21.029114,NaN,NaN,DZA,2.434777e+09
2,Algeria,Africa,Yes,1962,436.9,12.553093,NaN,NaN,DZA,2.001469e+09
3,Algeria,Africa,Yes,1963,504.3,14.269756,NaN,NaN,DZA,2.703015e+09
4,Algeria,Africa,Yes,1964,557.8,22.531193,NaN,NaN,DZA,2.909352e+09

In [57]:
df_merged_final.shape

(13205, 11)

In [61]:
# Create a new column "OPEC Member" using loc function with mapping
df_merged_final['OPEC Member'] = 'No'

df_merged_final.loc[df_merged_final['Country'].isin(['Algeria', 'Angola', 'Congo', 'Equatorial Guinea', 'Gabon', 'IR Iran', 'Iraq', 'Kuwait', 'Libya', 'Nigeria', 'Saudi Arabia', 'United Arab Emirates', 'Venezuela']), 'OPEC Member'] = 'Yes'

In [63]:
#dropping columns
df_new=df_merged_final.drop(columns = ['OECD member'])

In [89]:
df_new=df_new.drop(columns = ['Country Code'])

### 4. Duplicates

In [86]:
# Check for duplicates
df_new[df_new.duplicated()]

Empty DataFrame
Columns: [Country, Country Group, OPEC Member, Year,  Crude oil production, Oil demand, Crude oil exports, Imports of crude oil, Country Code, GDP]
Index: []

### 5. Export data

In [91]:
# Exporting data
df_new.to_csv(os.path.join(path, '01 Data', 'cleaned_merged.csv'))